.course h2 {
  font-size: 16px;
  font-weight: 600;
  margin-top: -20px;
}

.course svg {
  font-size: x-large;
  color: var(--black-color);
}

.cform input,
.cform select {
  background-color: var(--form-color);
}

.cform textarea {
  height: 150px !important;
  background-color: var(--form-color);
}
