.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
}

.gridC {
  background: rgba(64, 134, 244, 0.08);
  border-radius: 12px;
  padding: 40px 15px;
}

.gOne {
  display: flex;
  justify-content: space-between;
  color: var(--black-color);
  font-family: var(--main-font);
  line-height: 37px;
  position: relative;
}

.gTwo {
  font-weight: 500;
  font-size: 15px;
}

.gImg {
  width: 30px;
  height: 30px;
}

.gThree h4 {
  font-size: 14px;
  font-weight: normal;
  margin-top: -5px;
}
