.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: var(--margin-top);
}

.gridC {
  background: rgba(64, 134, 244, 0.08);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 2%);
  border-radius: 12px;
  padding: 40px 15px;
}

.gOne {
  display: flex;
  justify-content: space-between;
  color: var(--black-color);
  line-height: 37px;
  position: relative;
}

.gTwo {
  font-weight: 500;
  font-size: 15px;
}

.gImg {
  width: 30px;
  height: 30px;
  margin-top: -8px;
}

.gThree h4 {
  font-size: 14px;
  font-weight: normal;
}
