@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
  --white-color: #fff;
  --black-color: #000;
  --main-color: #fbfdff;
  --gray-color: #b8bec6;
  --blue-btn: #4086f4;
  --form-color: #f1f6ff;
  --blue-color: rgba(64, 134, 244, 0.08);
  --padding: 20px 10px;
  --margin-top: 30px;
  --font: 'Poppins', sans-serif;
}

body {
  font-family: var(--font);
  /* background-color: var(--main-color); */
}

/* remove later, margin-top on publish courses component */
.margin {
  margin-top: var(--margin-top);
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  line-height: 2;
}

.form-control,
.form-select {
  height: 54px !important;
}

.shadow-sm {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

/* dashboardForm */
.wrapper {
  position: relative;
}

.icon {
  position: absolute;
  right: 2.5%;
  top: 27%;
}

.dashboardForm svg {
  font-size: x-large;
  color: #b6b6b6;
}

@media (max-width: 768px) {
  .dashboardForm {
    padding: 0 10px;
  }
}

/* Section styles */
.register,
.login,
.employer,
.trainer,
.pageOne,
.pageTwo,
.pageThree,
.settings,
.builder {
  background-color: var(--main-color);
  /* height: 100vh; */
  padding: 40px 20px;
}

.employer {
  margin-bottom: 100px;
}
