.list {
  margin-top: var(--margin-top);
}

.grid {
  display: flex;
}

.gTwo {
  font-weight: 500;
  font-size: 15px;
  margin-left: 5px;
  margin-top: 2px;
  color: gray;
}

.badge {
  display: flex;
  padding: 4px;
  justify-content: space-between;
  border: 0.5px solid #587cf4cc;
  padding-top: 10px;
  border-radius: 10px;
}
