.proportfolio h4,
.prolist h4 {
  color: #22215b;
  font-size: 16px;
  font-weight: 600;
}

.proimage {
  margin-top: -40px;
  margin-bottom: -40px;
}

.proimageOne {
  margin-top: -20px;
  margin-left: 20px;
}

.proitem h4 {
  font-size: 15px;
  font-weight: 400;
  color: #161719;
}

.proitem svg {
  font-size: x-large;
}

.proitem p {
  color: #91919f;
  margin-top: -5px;
  font-size: 14px;
  font-weight: 400;
}

.proitem {
  padding: 20px;
  box-shadow: 0px 4px 4px rgba(88, 124, 244, 0.17);
}

@media (min-width: 768px) {
  .proimage {
    margin-top: -50px !important;
  }

  .proimageOne {
    margin-top: -25px !important;
  }
}

@media (max-width: 768px) {
  .prolist h4 {
    margin-left: 15px;
  }
}
