.apublish {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.apublish svg {
  font-size: 2rem;
  color: #828282;
  margin-bottom: 10px;
}

.apublish p {
  color: #828282;
}

.apublish button {
  color: #828282;
  margin-top: -20px;
}
