.success {
  height: 100vh;
  padding: 40px 20px;
  background-color: #fbfdff;
}

.success h2 {
  font-size: 16px;
  font-weight: 600;
  margin-top: -20px;
}

.success svg {
  font-size: x-large;
  color: var(--black-color);
}
