.proamount {
  background: rgba(241, 243, 246, 0.6);
  border-radius: 12px;
  color: #f1f3f699;
  padding: 30px 20px;
}

.proamount > h4 {
  font-family: var(--font-three);
  font-size: 20px;
  font-weight: 600;
  color: #171822;
}

.proamount > p {
  font-family: var(--font-three);
  font-size: 15px;
  font-weight: 400;
  color: #3a4276;
  margin-top: -5px;
}
